body {
    background: url(../images/dynamic-style.png);
    background-size: cover;
}

h6 {
    font-size: 20px;
    color: #44aa85;
}

.carousel-caption{
    background:rgba(0,0,0,0.6);
    opacity: 0.75;
    padding: 0;
    right: 0;
    left: 0;
    bottom: unset;
    top: 175%;
    text-emphasis: bold;
    color: #44aa85;
}


a {
    position: relative;
}