body {
    background: url(../images/dynamic-style.png);
    background-size: cover;
}

h6 {
    font-size: 20px;
    color: #44aa85;
}

.carousel-caption{
    background-color: rgba(0,128,128,0.6);
    padding: 0;
    right: 0;
    left: 0;
    bottom: unset;
    top: 50%;
    text-emphasis: bold;
    color: #ffffff;
}

a {
    position: relative;
}